<%- include('partials/header'); %>


<div class="welcome">
  <h1>Home</h1>
  <p><%= homeStartingContent %></p>
</div>


<% posts.forEach(function(post){ %>
<div class="card">
  <div class="card-body">
    <h1><%= post.title; %></h1>
    <p>
      <%= post.content.substring(0,100) + '...'; %>
      <a href='/posts/<%= post._id %> '>Read More</a>
    </p>
  </div>
</div>
<% }); %>

<nav>
  <ul class="pagination pagination-sm">
    <% for (let i = 1; i <= totalPages; i++) {%>
    <li class="page-item">
      <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%=i%></a>
    </li>
    <% } %>
  </ul>
</nav>

<%- include('partials/footer'); %>